# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/
.env

# Database
*.db
sql_app.db

# IDE
.vscode/
.idea/
*.swp

# Logs
*.log

# Environment variables
.env
.env.local
/email_services/